/* Base Styles */
button:focus:not(:focus-visible) {
    outline: 2px transparent solid !important;
    box-shadow: none !important;
}

a:focus:not(:focus-visible) {
    outline: 0 solid #00131D !important;
}

/* Layout Components */
#infoTexT,
.iconrow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.infoIcon {
    font-size: 5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

#infoGraphicBox {
    outline: transparent solid 2px;
    padding: 15px;
    width: auto;
    margin: 1em 0;
    display: block;
    word-break: break-word;
    z-index: 2;
    position: relative;
    transition: background-color 0.5s ease-in-out;
}

/* Grid and Lists */
.resourseList2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.grid-child {
    padding: 10px;
}

/* Typography */
section .details {
    font-family: "Courier New", Courier, monospace;
}

p .details {
    line-height: 2;
}

.result {
    font-weight: bold;
}

dt.infoExplain {
    font-size: 1.7rem;
}

#colDetailsH2 {
    font-size: 1.5em;
    margin-block-start: 0;
    margin-block-end: 1em;
}

/* Utility Classes */
.arrayDetails {
    display: none;
}

.colorBox {
    outline: transparent solid 2px;
}

/* Button Styles */
.hold-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #FCBC00;
    padding: 4px;
    margin: 4px;
}

.hold-button:hover {
    color: black;
}

.hold-button svg {
    width: 26px;
    height: 26px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

button.hold-button[aria-pressed="true"]{
  background-color: #4BB694;
	color: black;
	border: black 2px solid !important;
}

/* Media Queries */
@media only screen and (max-width: 400px) {
    .infoIcon {
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        white-space: pre-line;
    }
    
    #infoTexT,
    .iconrow {
        display: inline;
        justify-content: normal;
        align-items: normal;
    }
}

@media (max-width: 1000px) {
    .resourseList2 {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 1100px) {
    .result2 {
        white-space: normal !important;
    }
}

@media (max-width: 1200px) {
    .page-wrap {
        margin: 0 !important;
    }
}

@media (max-width: 1300px) {
    .result2 {
        white-space: pre-line;
    }
}

@media (prefers-reduced-motion: reduce) {
    #infoGraphicBox {
        transition: background-color 0s linear !important;
    }
}