.page-header,
.page-nav,
.page-sidebar,
.page-footer,
div#vidPres {
    display: none;
}

.page-wrap {
    grid-template-columns: 100%;
    grid-template-rows: auto;
}
.page-wrap > * {
    grid-column: 1/-1 !important;
    grid-row: auto !important;
}

body {
    background: none !important;
}