<div class="tool-group">
  <h4>
    <svg
      class="heading-icon reset-heading-icon"
      height="20"
      width="20"
      viewBox="0 0 21 21"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <g
        fill="none"
        fill-rule="evenodd"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        transform="matrix(0 1 1 0 2.5 2.5)"
      >
        <path
          d="m3.98652376 1.07807068c-2.38377179 1.38514556-3.98652376 3.96636605-3.98652376 6.92192932 0 4.418278 3.581722 8 8 8s8-3.581722 8-8-3.581722-8-8-8"
        />
        <path d="m4 1v4h-4" transform="matrix(1 0 0 -1 0 6)" />
      </g>
    </svg>
    Reset Options
  </h4>
  <button
    class="reset-button"
    id="reset-reading-tools"
    aria-label="Reset all reading preferences to default"
  >
    <svg
      class="action-icon reset-icon"
      height="16"
      width="16"
      viewBox="0 0 21 21"
      xmlns="http://www.w3.org/2000/svg"
      aria-hidden="true"
    >
      <g
        fill="none"
        fill-rule="evenodd"
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        transform="matrix(0 1 1 0 2.5 2.5)"
      >
        <path
          d="m3.98652376 1.07807068c-2.38377179 1.38514556-3.98652376 3.96636605-3.98652376 6.92192932 0 4.418278 3.581722 8 8 8s8-3.581722 8-8-3.581722-8-8-8"
        />
        <path d="m4 1v4h-4" transform="matrix(1 0 0 -1 0 6)" />
      </g>
    </svg>
    Reset to Defaults
  </button>
</div>
