
        {{#if sections.length}}
        <nav class="table-of-contents" aria-label="Table of contents">
            <h2>Contents</h2>
            <ol>
                {{#each sections}}
                <li>
                    <a href="#{{formatId title}}">{{title}}</a>
                    {{#if subsections.length}}
                    <ol>
                        {{#each subsections}}
                        <li><a href="#{{formatId title}}">{{title}}</a></li>
                        {{/each}}
                    </ol>
                    {{/if}}
                </li>
                {{/each}}
            </ol>
        </nav>
        {{/if}}
      